@import 'colors';
@import 'constants';

footer{
    background-color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    & address a{
        text-decoration: none;
        color: $dark;
        font-size: 20px;
        @include tablet{
            font-size: 15px;
        }
        &:hover{
            text-decoration: underline;
            transition: .3s;
        }
    }
}