@import 'colors';
@import 'constants';
@import 'media-queries';

%before-after-case{
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    background-color: $orangeRed;
    transition: .3s;
    border-radius: $borderRadius;
}


.showcase{

    &_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 80vh;
        width: 100%;
        max-width: 1200px;
        @include tablet{
            grid-template-columns: 1fr;
            height: 90%;
        }

        &_left{
            width: 100%;
            color: $lime;
            line-height: 1.2;
            @include tablet{
                padding: 5rem 0;
            }
            @include mobile{
                line-height: 1.5;
            }
             h1 {
                font-size: 4rem;

                @include tablet{
                    font-size: 2rem;
                }
            }
             h2{
                font-size: 4rem;
                font-weight: bold;
                color: $dark;

                @include mobile{
                    font-size: 2rem;
                }
            }
             p{
                font-size: 2rem;
                color: $dark;
                margin-top: 1rem;
                font-weight: 700;

                @include mobile{
                    font-size: 1.4rem;
                }
            }

            &_signup{
                font-size: 1rem;
                background-color: $lime;
                padding: 15px 30px;
                border: none;
                border-radius: $borderRadius;
                margin-top: 2rem;
                cursor: pointer;
                position: relative;
                transition: .3s;

                a{
                    color: $light;
                    z-index: 2;
                    position: relative;
                    text-decoration: none;
                    font-size: 19px;
                
                }
                &::after{
                    @extend %before-after-case;
                    left: 50%;
                }
                &::before{
                    @extend %before-after-case;
                    right: 50%;
                }
                &:hover::after{
                    width: 50%;
                }
                &:hover::before{
                    width: 50%;
                }
            }
        }

        &_right img{
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }
}